.container-incidents{
    margin-top: 1rem;
    

    .list-incidents{
        border: 1px solid var(--color-border);
        border-radius: 4px;
        padding: 10px 10px;
        margin: 1REM 0;

        .user{
            justify-content: space-between;
            display: flex;
            border: 1px solid var(--color-border);
            border-radius: 6px;
            padding: 0 5px;
            .name{
                display: flex;
                align-items: center;
                
                img{
                    width: 50px;
                };
            }

            .state{
                font-weight: 600;
                font-size: 17px;
                color: red;
            }

            button{
                background-color: red;
                color:#fff;
                border: none;
            }
        }

        .incidents{
            margin: 1rem 0;
            .location{
                text-align: right;
                margin: 0;
                color: var(--color-font);
            }

            .description{
                display: flex;
                gap: 20px;
                color: var(--color-font);
                line-height: 1.5;
                margin-top: 1rem;

                img{
                    width: 300px;
                    border-radius: 4px;

                }
            }

        }
    }

}