<main>
    <div class="container">
        <div class="logo">
            <img src="./../../../assets/images/logo-version2.png" alt="Avatar" >
        </div>
        <h2>Iniciar sesión</h2>

        <form>
            <div class="form-group">
                <label class="input-container">
                    <i class="fa-solid fa-user"></i>
                    <input type="email" placeholder="Usuario" required>
                </label>
                
                <div class="input-container">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Contraseña" required>
                </div>
            </div>

            <div class="submit-btn">
                <button type="submit" class="blue medium">Iniciar sesión</button>
            </div>
        </form>

        <div class="option">
            <div>
                <p>¿Aún no tienes una cuenta?</p>
                <a href="/create-accont">Regístrate</a>
            </div>

            <div>
                <a>Olvide mi contraseña</a>
            </div>

        </div>

    
    </div>
</main>