.incidents-container{
    width: 70%;
    padding: 0 10px;
    margin: 1rem auto;
    .user{
        display: flex;
        img{
            width: 50px;
            border-radius: 50%;
        }

        textarea{
            border: 1px solid var(--color-border);
            padding: 10px;
            width: 98%;
            color: var(--color-font);
            border-radius: 4PX;
        }
    }

    .publish-incidents{
        padding: 15px 20px;
        border-radius: 6px;
        border: 1px solid var( --color-border);
    }

    .container-btn{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    

        .btns-option{
            display: flex;
            gap: 20px;

            button{
                padding: 0 10px;
            }

            i{
                margin-right: 5px;
            }

        }


    }

}