<div class="incidents-container">
    <div class="publish-incidents">
        
        <div class="user">
            <img src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg" alt="">
            <textarea name="" id="" placeholder="¿Que incidencia esta ocurriendo?"></textarea>
        </div>

        <div class="container-btn">
            <div class="btns-option">
                <button class="transparent">
                    <i class="fa-solid fa-video"></i>
                    <span>Videos</span>
                </button>
                <button class="transparent">
                    <i class="fa-solid fa-image"></i>
                    <span>Fotos</span>
                </button>

                <button class="transparent">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Ubicacion</span>
                </button>
            </div>

            <button class="small blue">Publicar</button>
        </div>
    </div>

    <app-list-incidents [incidents]="incidentList"></app-list-incidents>
</div>