<div class="about-container">
    <h1>Ayudar a la <span>comunidad</span></h1>
    
    <div class="card-infor">
        <p>
            ClearSpace es un sistema innovador diseñado para gestionar y resolver incidencias en las vías públicas del departamento del Atlántico. 
            Nuestro objetivo es mejorar la seguridad y calidad de vida de los ciudadanos, facilitando la identificación, reporte y seguimiento de problemas en la infraestructura vial.
        </p>
    
        <div class="container-img">
            <img src="https://i.pinimg.com/236x/e7/17/bb/e717bb8d12e324a0cdf65dd8bda84a66.jpg" alt="">
        </div>
    
    </div>

    <div class="card-normal">
        <p>
            Con ClearSpace, los usuarios pueden reportar fácilmente incidencias como baches, señalización dañada, problemas de iluminación y otros 
            inconvenientes que afectan la seguridad vial. Nuestro sistema permite a las autoridades competentes responder de manera rápida y eficiente 
            a las necesidades de la comunidad.
        </p>
    
        <div class="container-img"><img src="https://www.shutterstock.com/image-vector/bad-road-quality-surface-driver-600nw-2346063497.jpg" alt=""></div>
    </div>



    <div class="mission">
        <h2>Nuestra Misión y Valores</h2>
        <p>
            Nuestra misión es contribuir al <span>desarrollo de un entorno urbano más seguro</span> y sostenible, mejorando la respuesta a las incidencias viales. 
            Nos guiamos por valores como la transparencia, la innovación y el compromiso social, trabajando para <span>garantizar que los espacios públicas sean 
                seguros </span>y estén en óptimas condiciones.
        </p>
    </div>


    <div>
        <h2>Nuestro Equipo</h2>
       <div class="card-infor">
            <p>
                ClearSpace está compuesto por un equipo multidisciplinario que combina experiencia en tecnología, gestión pública y servicio al ciudadano. 
                Juntos, nos dedicamos a desarrollar soluciones prácticas que mejoren la calidad de vida de las personas en el departamento del Atlántico.
            </p>
    
            <div class="container-img">
                <img src="https://steeple.com/hs-fs/hubfs/Imported_Blog_Media/trabajo-equipo-steeple-espana-01-1.jpg?width=790&height=444&name=trabajo-equipo-steeple-espana-01-1.jpg" alt="">
            </div>
       </div>
    </div>
</div>
