<nav>
    <ul>
        <li *ngIf="myRole() === roles.citizen || myRole() === roles.admin">
            <a routerLink="/incidents" routerLinkActive="active">
                <i class="fa-brands fa-wpforms"></i>
                Incidencias
            </a>
        </li>
        <li>
            <a *ngIf="myRole() === roles.citizen" routerLink="/my-reports" routerLinkActive="active" >
                <i class="fa-solid fa-clipboard"></i>
                Mis reportes
            </a>
        </li>
        <ng-container *ngIf="myRole() === roles.operative || myRole() === roles.governmental">
            <li>
                <a routerLink="/citizen-incidents" routerLinkActive="active">
                    <i class="fa-brands fa-wpforms"></i>
                    Incidencias recibidas
                </a>
            </li>
        </ng-container>
    </ul>
</nav>

