.app-container{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;

    .app-content{

        app-navbar{
            display: none;
        }

        display: grid;
        grid-template-columns: auto 1fr;
    }
}

@media (min-width: 640px) {
    .app-container{
        .app-content{
            app-navbar{
                display: block;
            }
        }
    }
}