<footer class="footer">

    <div class="main-information">
        <div class="footer-links">
            <h3>Portal del sitio</h3>
            <div class="information">
                <a href="about">Sobre nosotros</a>
                <a href="about">Nuestra historia</a>
                <a href="#">Ayuda</a>
            </div>
        </div>
    
        <div class="footer-links">
            <h3>Centro de relevo</h3>
            <div class="information">
                <a href="#">Ayuda</a>
                <a href="#">Atencion al cliente</a>
            </div>
        </div>

        <div class="footer-links">
            <h3>Descarga nuestra app</h3>
            <div  class="information">
                <a>Play store<i class="fa-brands fa-google-play" style="margin-left: 10px;"></i></a>
                <a>App store<i class="fa-brands fa-app-store-ios" style="margin-left: 10px;"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-brand">
        <p>&copy; 2024 Toodo. Todos los derechos reservados.</p>
        <p><a href="https://www.linkedin.com/in/sara-acu%C3%B1a-benavides-b8170023a/">Sara Acuña Benavies, Daniel Mercado y Jesus Espinosa</a></p>
    </div>
</footer>
