:root {
    --color-font: #004884;

    --color-blue-primary:#007BFF;
    --color-border:#ddd;
    --color-gray:#6d7693;
    --color-green:#3aa337;

    --blue-main:#1143b5;

    --color-shadow-navbar: rgba(0, 0, 0, .1);
}