.citizen-incidents-container {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
   
}

.citizen-incidents-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.report .details {
    display: flex;
    flex-direction: column;
}


.report .details .date {
    font-size: 0.9rem;
    color: #999;
}

.report .status {
    display: flex;
    align-items: center;
    gap: 10px;
}

.report .status button {
    background-color: #757575;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.report .location {
    font-size: 0.9rem;
    color: #666;
    align-items: flex-end;
}

.filter {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    
}

.filter select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.header-section h1 {
    margin: 0;
    font-size: 2rem;
}

.reports-list {
    list-style: none;
    padding: 0;
}

.report-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--color-border);
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
    gap: 1rem;

    &:hover{
        box-shadow: 0 6px 12px rgba(0,0,0, 0.5);
    }
}

.state{
    margin-top: 20px;
    height: 50%;
}

.details-section {
    max-width: 80%;
}

.location {
    font-size: 1.5rem;
    color: #3f3f3f;
    padding-right: 20px;
    padding: 50px;
    border-left: solid black;
}

.date {
    font-size: 0.9rem;
    color: #999;
    margin-top: 5px; 
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .incident-date {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .incident-description {
    margin-bottom: 20px;
    color: #333;
  }
  
  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
  }
  
  .status-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .status-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .status-option p {
    margin: 0;
    font-weight: bold;
  }
  
  .status-option input[type="checkbox"] {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    accent-color: #007bff;
  }
  
  .status-option.active {
    background-color: #e0e0e0;
  }
  
  button {
    background-color: #747474;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: opacity($color: #000000);
  }
  