@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Signika+Negative:wght@300..700&display=swap');

:root{
    --header-height: 76.64px;
}

*{
    box-sizing: border-box;
    font-family: "Signika Negative", serif;
    color: var(--color-font);
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

body{
    margin: 0;
}